<!DOCTYPE html>
<!-- Website - www.codingnepalweb.com -->
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8" />
    <title>ValidForm</title>
    <link rel="stylesheet" href="static/assets1/style.css" />
  </head>
  <body>
    <div class="center">
      <h1>Validation</h1>
                    
                    <form action="/predict_lo" method="POST">
                      <div class="field">
                      <h3 style="color: rgb(12, 12, 12);">Write the OTP here!</h3>
                      </div>
                      <div class="field">
                        <input type="text" name="message" required="required">
                      </div>
                      <br />
                      
                        <button class="btn btn--radius-2 btn--blue" type="submit">Submit</button>
                      
                      </div>
                    </form>
                    
                  </div>
                </body>
              </html>
              